
@{
    ViewBag.Title = "ListSiswa";
}

<h2>@ViewData["Judul"]</h2>

<table>
    <thead>
        <th>Nama Siswa</th>
        <th>Umur Siswa</th>
        <th>Kelamin Siswa</th>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.ListSiswa)
        {
            <tr>
                <td>@item.StudentName </td>
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
<p>
<table>
    <thead>
    <th>Nama Siswa</th>
    <th>Umur Siswa</th>
    <th>Kelamin Siswa</th>
    </thead>
    <tbody>
        @foreach (var item in ViewData["listStudent"] as List<waMvc5Day13.Models.Student>)
        {
            <tr>
                <td> </td>
                <td>@item.Ages</td>
                <td>@item.Gender</td>
            </tr>
        }
    </tbody>
</table>

